body {background-color: #FFE4C4;
}

h2 {text-align: center;
    font-size: 65px;
    color: #8b0000;
    text-shadow: 1px 2px 5px black;
}

.game_card {
    background-color: #FDF5E6;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 1%;
    padding: 20px;
    box-shadow: 7px 7px 3px black;
    box-sizing: border-box;
}

.game {
    width: 400px;
}

.game_card p {
    text-align: center;
    display: block;
}

.button {
    background-color: #F08080;
    border-radius: 20px;
    width: 110px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.game-detail-title-1 {
    color: darkviolet;
    border-bottom: white 5px double;
    font-weight: normal;
    text-align: center;
}

.game-detail-title-2 {
    color: darkgreen;
    border-bottom: greenyellow 3px solid;
    font-weight: normal;
}

.price {
    text-decoration: underline;
    font-weight: bold;
    color: magenta;
}

.login-form input[type=submit], .signup-form input[type=submit], .password-change-form input[type=submit]{
    font-weight: bold;
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 10px 20px;
    font-size: 20px;
    width: auto;
}

.login-form label, .signup-form label, .password-change-form label{
    display: block;
    font-size: 20px;
}

.login-form input, textarea, .signup-form input, .password-change-form input {
    margin-bottom: 10px;
    background-color: ghostwhite;
    border: 0;
    padding: 6px 10px;
    font-size: 20px;
    width: 30%;
}

.login-heading, .signup-heading, .password-change-heading{
    font-weight: normal;
    border-bottom: 1px solid grey;
}

.login-para, .signup-para, .password-change-para {
    font-size: 20px;
    font-weight: bold;
}

.nav1 h1 {
    font-weight: normal;
    color: blueviolet;
    display: inline;
}

.login-logout-div-nav {
    float: right;
    text-align: right;
}

.login-logout-reg-nav a {
    text-decoration: none;
    color: darkblue;
    float: right;
    text-align: right;
    position: absolute;
}

