{% extends 'base.html' %}

{% block title %}

Game Shop

{% endblock title %}

{% block content %}
<div class="nav">
    <h1>Game Shop</h1>
    <div class="login-logout-reg-nav">
        {% if user.is_authenticated %}
        <h3>Добро пожаловать, {{ user.username }} </h3>
        <a href="{% url 'logout' %}"> Выйти из аккаунта</a>
        {% else %}
        <a href="{% url 'login' %}">Войти на сайт</a>
        {% endif %}
    </div>
</div>
{% for game in game_list %}
<div class="game_card">
    <h2><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></h2>
    {% if game.image %}
    <a href="{{ game.get_absolute_url }}"><img src="{{ game.image.url }}" alt="kartinka" class="game"></a>
    {% endif %}
    <p>Игра добавлена: {{ game.owner }}</p>
    <p>Цена: {{ game.price }}</p>
    <p>Создано: {{ game.created }}, Обновлено: {{ game.updated }}</p>
    <p>Описание игры: {{ game.description }}</p>
    <div class="button">Купить игру</div>
</div>
{% endfor %}
{% endblock content %}
