{% extends 'base.html' %}

{% block title %}Вход на сайт{% endblock title %}

{% block content %}
{% if form.errors %}
<p class="login-para">Имя пользователя или пароль введены неправильно</p>
{% else %}
<p class="login-para">Используйте следующую форму для входа на сайт:</p>
{% endif %}
<h1 class="login-heading">Вход на сайт</h1>
<div class="login-form">
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Войти на сайт"></p>
</form>
</div>
{% endblock content %}
